body {
  margin: 0;
  height: 100%;
  position: relative;
}

#game-left {
  position: absolute;
  padding: 50px;
}
#game-right {
  position: absolute;
  right: 0;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: center;
}

#game-menu {
  top: 200px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#login {
  display: none;
}

#top-bar {
  position: absolute;
  top: 0;
  display: flex;
  gap: 20px;
  right: calc(100vh / 4);
  padding: 50px;
}

#main {
  display: flex;
}

#bot-bar {
  position: absolute;
  bottom: 0;
  right: calc(100vh / 4);
  display: flex;
  gap: 10px;
  padding: 50px;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
