body {
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#game-left {
  position: absolute;
  padding: 50px;
}

#game-menu {
  top: 200px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#menuBtn {
  padding: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: lightcyan;
  border: 3px solid white;
}

#menuBtn:hover {
  background-color: rgb(151, 253, 253);
}

#menuBtn:active {
  background-color: rgb(109, 248, 248);
}

#game-right {
  position: absolute;
  right: 0;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: center;
}

#login {
  display: flex;
  flex-direction: column;
}

#loginBtn {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  border: 2px solid cyan;
  background-color: white;
  font-size: 18px;
}

#top-bar {
  position: absolute;
  top: 0;
  display: flex;
  gap: 20px;
  right: calc(100vh / 4);
  padding: 50px;
}

#main {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 1, 1, 0.5);
}

#bot-bar {
  position: absolute;
  bottom: 0;
  width: inherit;
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 10px;
}

#action-grid {
  display: flex;
  gap: 10px;
}

#info-field {
  border: 3px solid cyan;
  width: 64px;
  height: 64px;
}
